<header>
  <h1 class="top-title">Welcome Bedir's Kitchen</h1>
  <nav>
    <ul>
      <li class="nav-link"><a href="/">Home</a></li>
      <li class="nav-link"><a href="/meals">Meals</a></li>
      <li class="nav-link"><a href="/desserts">Desserts</a></li>
      <li class="nav-link"><a href="/drinks">Drinks</a></li>
    </ul>
  </nav>
</header>
