<header>
  <h1 class="top-title">Welcome Bedir's Kitchen</h1>
  <nav>
    <ul>
      <li class="nav-link"><a href="http://localhost:3002/">Home</a></li>
      <li class="nav-link"><a href="http://localhost:3002/meals">Meals</a></li>
      <li class="nav-link"><a href="http://localhost:3002/desserts">Desserts</a></li>
      <li class="nav-link"><a href="http://localhost:3002/drinks">Drinks</a></li>
    </ul>
  </nav>
</header>
