/* body {
  background-image: url("../images/bg.webp");
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background: url("../images/bg.webp") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
}

body {
  background-color: #dfdfdfe8;
  min-height: 100vh;
  color: #484545;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

header {
  height: 250px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  background-color: #0000007a;
  color: #fff;
  h1 {
    font-size: 3rem;
    width: fit-content;
    margin: auto;
    padding: 6px 12px;
    background-color: #000000a1;
    border-radius: 12px;
  }
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
  }
  background: url("../images/meals.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

nav {
  background-color: #49667a;
}

.nav-link {
  padding: 6px 12px;
  border: 1px solid #fff;
  border-radius: 6px;
  margin: 10px;
  a {
    text-decoration: none;
    color: #fff;
  }
}

.nav-link:hover {
  background-color: #fff;
  a {
    color: #252525;
  }
}

footer {
  margin-top: auto;
  text-align: center;
  height: 60px;
  background-color: #233c4d;
  line-height: 60px;
  color: #fff;
}

.home-welcome {
  margin: 20px 0;
  h1 {
    margin: 10px;
    text-align: center;
  }
  p {
    padding: 16px;
    text-align: justify;
  }
}

.home-branches > div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.home-branches {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  h1 {
    margin-bottom: 16px;
  }
  img {
    width: 220px;
    height: 120px;
    border-radius: 8px 8px 0 0;
  }
  .branch {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    * {
      margin-bottom: 12px;
    }
    h3 {
      padding: 6px 8px;
      background-color: #49667a;
      color: #fff;
      border-radius: 6px;
      margin-bottom: -20px;
      z-index: 8888;
    }
  }
}

.view-link {
  padding: 4px 24px;
  border: 1px solid #49667a;
  border-radius: 0 0 8px 8px;
  width: 220px;
  text-align: center;
  text-decoration: none;
  margin-top: -13px;
  color: #49667a;
}

.view-link {
  --c: #49667a; /* the color */
  color: #0000;

  background: linear-gradient(90deg, #fff 50%, #49667a 0) calc(100% - var(--_p, 0%)) / 200% 100%,
    linear-gradient(var(--c) 0 0) 0% 100% / var(--_p, 0%) 100% no-repeat;
  -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;
  transition: 0.5s;
  background-color: #edeff0;
}

.view-link:hover {
  --_p: 100%;
}

/* Routes Common Csss */
.page-title {
  text-align: center;
  padding: 12px;
  margin: 10px 0;
  font-size: 2.4rem;
}

.main-content {
  width: 80%;
  min-height: 45vh;
  padding: 12px;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    width: 250px;
    border-radius: 8px;
    margin-bottom: 12px;
  }
  .infos {
    max-width: 600px;
  }
}

.img-infos {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 2rem 16px;
  text-align: center;
}

.sidebar {
  width: 20%;
  min-width: 115px;
  min-height: 45vh;
  padding: 12px;
  background-color: #7ca3bd;
  border-radius: 6px;
  ul {
    list-style-type: none;
    li {
      padding: 4px;
      border-bottom: 2px solid #49667a;
    }
    li:hover {
      border-bottom: 2px solid #fff;
      color: #fff;
    }
  }
}

.view-detail,
.view-all-recipe {
  padding: 6px 12px;
  width: 185px;
  border: 1px solid #233c4d;
  color: #fff;
  border-radius: 6px;
  margin-top: 20px;
  font-weight: 600;
  background-color: #7ca3bd;
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s;
}

.view-all-recipe {
  width: 285px;
  text-align: center;
  color: #fff;
}

.view-detail:hover {
  opacity: 0.8;
}

.view-all-recipe:hover {
  background-color: #fff;
  color: #7ca3bd;
}

/* Dessert Page Css */
.desserts-container,
.drinks-container,
.meals-container {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 95%;
  margin: auto;
  margin-bottom: 20px;
}

.product-item {
  cursor: pointer;
}
.product-item.active {
  border-bottom: 2px solid #fff;
  color: #fff;
}

/* Subpages css */
.product-in-subpage {
  width: 90%;
  max-width: 600px;
  border-radius: 12px;
  margin-bottom: 20px;
}
section.go-back {
  margin-top: 12px;
  text-align: center;
  margin-bottom: -48px;
  position: relative;
  z-index: 666;
}
button.go-back {
  padding: 8px 44px;
  border: 1px solid #233c4d;
  background-color: #7ca3bd;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.2rem;
}
button.go-back:hover {
  color: #7ca3bd;
  background-color: #fff;
}
.subpages-title {
  padding: 20px;
  text-align: center;
}

.recipes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  div {
    margin-bottom: 30px;
    width: 90%;
    text-align: center;
  }
  h3 {
    margin-bottom: 12px;
  }
  iframe {
    width: 560px;
    height: 315px;
  }
}
.go-back.recipe {
  margin-bottom: 12px;
  position: static;
}
@media only screen and (min-width: 780px) {
  .recipes {
    iframe {
      width: 700px;
      height: 400px;
    }
    div {
      margin-bottom: 44px;
    }
  }
  .home-branches > div {
    flex-direction: row;
  }
}
@media only screen and (max-width: 600px) {
  .recipes {
    iframe {
      width: 300px;
      height: 169px;
    }
  }
  .page-title,
  .subpages-title {
    font-size: 1.2rem;
  }
  .main-content {
    width: 65%;
  }
  .main-content img {
    width: 200px;
  }
  .view-all-recipe {
    width: 234px;
  }
}
